apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: controller-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - list
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  - configmaps
  - namespaces
  verbs:
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - watch
  - list
- apiGroups:
  - kubevirt.io
  resources:
  - kubevirts
  verbs:
  - list
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachineinstances
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachines
  verbs:
  - get
  - list
  - watch
  - patch
- apiGroups:
  - kubevirt.io
  resources:
  - virtualmachineinstancemigrations
  verbs:
  - get
  - list
  - watch
  - delete
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - migrations.kubevirt.io
  resources:
  - virtualmachinestoragemigrations
  - virtualmachinestoragemigrationplans
  - multinamespacevirtualmachinestoragemigrationplans
  - multinamespacevirtualmachinestoragemigrations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - migrations.kubevirt.io
  resources:
  - virtualmachinestoragemigrations/finalizers
  verbs:
  - update
- apiGroups:
  - migrations.kubevirt.io
  resources:
  - virtualmachinestoragemigrations/status
  - virtualmachinestoragemigrationplans/status
  - multinamespacevirtualmachinestoragemigrationplans/status
  - multinamespacevirtualmachinestoragemigrations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - list
  - watch
