
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: kubevirt
  labels:
    control-plane: controller
    app.kubernetes.io/name: kubevirt-migration-controller
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller
      app.kubernetes.io/name: kubevirt-migration-controller
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: controller
      labels:
        control-plane: controller
        app.kubernetes.io/name: kubevirt-migration-controller
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
          - --leader-elect
          - --health-probe-bind-address=:8081
          - --zap-log-level=5
        image: controller:latest
        name: controller
        ports: []
        env:
          - name: CONTROLLER_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: kubevirt-ca-configmap
          mountPath: /etc/ssl/certs/kubevirt-ca
          readOnly: true
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      volumes:
      - name: kubevirt-ca-configmap
        configMap:
          name: kubevirt-ca
      serviceAccountName: controller
      terminationGracePeriodSeconds: 10
