---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: datasources.cdi.kubevirt.io
spec:
  group: cdi.kubevirt.io
  names:
    categories:
    - all
    kind: DataSource
    listKind: DataSourceList
    plural: datasources
    shortNames:
    - das
    singular: datasource
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: DataSource references an import/clone source for a DataVolume
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DataSourceSpec defines specification for DataSource
            properties:
              source:
                description: Source is the source of the data referenced by the DataSource
                properties:
                  dataSource:
                    description: |-
                      DataSourceRefSourceDataSource serves as a reference to another DataSource
                      Can be resolved into a DataVolumeSourcePVC or a DataVolumeSourceSnapshot
                      The maximum depth of a reference chain may not exceed 1.
                    properties:
                      name:
                        description: The name of the source DataSource
                        type: string
                      namespace:
                        description: The namespace of the source DataSource
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                  pvc:
                    description: DataVolumeSourcePVC provides the parameters to create
                      a Data Volume from an existing PVC
                    properties:
                      name:
                        description: The name of the source PVC
                        type: string
                      namespace:
                        description: The namespace of the source PVC
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                  snapshot:
                    description: DataVolumeSourceSnapshot provides the parameters
                      to create a Data Volume from an existing VolumeSnapshot
                    properties:
                      name:
                        description: The name of the source VolumeSnapshot
                        type: string
                      namespace:
                        description: The namespace of the source VolumeSnapshot
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                type: object
            required:
            - source
            type: object
          status:
            description: DataSourceStatus provides the most recently observed status
              of the DataSource
            properties:
              conditions:
                items:
                  description: DataSourceCondition represents the state of a data
                    source condition
                  properties:
                    lastHeartbeatTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: DataSourceConditionType is the string representation
                        of known condition types
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              source:
                description: Source is the current source of the data referenced by
                  the DataSource
                properties:
                  dataSource:
                    description: |-
                      DataSourceRefSourceDataSource serves as a reference to another DataSource
                      Can be resolved into a DataVolumeSourcePVC or a DataVolumeSourceSnapshot
                      The maximum depth of a reference chain may not exceed 1.
                    properties:
                      name:
                        description: The name of the source DataSource
                        type: string
                      namespace:
                        description: The namespace of the source DataSource
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                  pvc:
                    description: DataVolumeSourcePVC provides the parameters to create
                      a Data Volume from an existing PVC
                    properties:
                      name:
                        description: The name of the source PVC
                        type: string
                      namespace:
                        description: The namespace of the source PVC
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                  snapshot:
                    description: DataVolumeSourceSnapshot provides the parameters
                      to create a Data Volume from an existing VolumeSnapshot
                    properties:
                      name:
                        description: The name of the source VolumeSnapshot
                        type: string
                      namespace:
                        description: The namespace of the source VolumeSnapshot
                        type: string
                    required:
                    - name
                    - namespace
                    type: object
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
