---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: migplans.migrations.kubevirt.io
spec:
  group: migrations.kubevirt.io
  names:
    kind: MigPlan
    listKind: MigPlanList
    plural: migplans
    singular: migplan
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MigPlan is the Schema for the migplans API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MigPlanSpec defines the desired state of MigPlan
            properties:
              virtualMachines:
                description: The virtual machines to migrate.
                items:
                  properties:
                    migrationPVCs:
                      items:
                        properties:
                          destinationPVC:
                            properties:
                              accessModes:
                                description: The access modes to use for the PVC,
                                  if set to Auto, the access mode will be looked up
                                  from the storage class storage profile.
                                enum:
                                - ReadWriteOnce
                                - ReadOnlyMany
                                - ReadWriteMany
                                - Auto
                                items:
                                  type: string
                                type: array
                              name:
                                type: string
                              storageClass:
                                description: The target storage class to use for the
                                  PVC. If not provided, the PVC will use the default
                                  storage class.
                                type: string
                              volumeMode:
                                description: The volume mode to use for the PVC, if
                                  set to Auto, the volume mode will be looked up from
                                  the storage class storage profile. If empty, it
                                  will be set to filesystem.
                                enum:
                                - Filesystem
                                - Block
                                - Auto
                                type: string
                            required:
                            - name
                            type: object
                          name:
                            type: string
                        required:
                        - destinationPVC
                        - name
                        type: object
                      type: array
                    name:
                      type: string
                  required:
                  - migrationPVCs
                  - name
                  type: object
                type: array
            required:
            - virtualMachines
            type: object
          status:
            description: MigPlanStatus defines the observed state of MigPlan
            properties:
              completedMigrations:
                description: The migrations that have been completed.
                items:
                  properties:
                    migrationPVCs:
                      items:
                        properties:
                          destinationPVC:
                            properties:
                              accessModes:
                                description: The access modes to use for the PVC,
                                  if set to Auto, the access mode will be looked up
                                  from the storage class storage profile.
                                enum:
                                - ReadWriteOnce
                                - ReadOnlyMany
                                - ReadWriteMany
                                - Auto
                                items:
                                  type: string
                                type: array
                              name:
                                type: string
                              storageClass:
                                description: The target storage class to use for the
                                  PVC. If not provided, the PVC will use the default
                                  storage class.
                                type: string
                              volumeMode:
                                description: The volume mode to use for the PVC, if
                                  set to Auto, the volume mode will be looked up from
                                  the storage class storage profile. If empty, it
                                  will be set to filesystem.
                                enum:
                                - Filesystem
                                - Block
                                - Auto
                                type: string
                            required:
                            - name
                            type: object
                          name:
                            type: string
                        required:
                        - destinationPVC
                        - name
                        type: object
                      type: array
                    name:
                      type: string
                  required:
                  - migrationPVCs
                  - name
                  type: object
                type: array
              conditions:
                items:
                  description: |-
                    Condition
                    Type - The condition type.
                    Status - The condition status.
                    Reason - The reason for the condition.
                    Message - The human readable description of the condition.
                    Durable - The condition is not un-staged.
                    Items - A list of `items` associated with the condition used to replace [] in `Message`.
                    staging - A condition has been explicitly set/updated.
                  properties:
                    category:
                      type: string
                    durable:
                      type: boolean
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - category
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              failedMigrations:
                description: The migrations that have failed.
                items:
                  properties:
                    migrationPVCs:
                      items:
                        properties:
                          destinationPVC:
                            properties:
                              accessModes:
                                description: The access modes to use for the PVC,
                                  if set to Auto, the access mode will be looked up
                                  from the storage class storage profile.
                                enum:
                                - ReadWriteOnce
                                - ReadOnlyMany
                                - ReadWriteMany
                                - Auto
                                items:
                                  type: string
                                type: array
                              name:
                                type: string
                              storageClass:
                                description: The target storage class to use for the
                                  PVC. If not provided, the PVC will use the default
                                  storage class.
                                type: string
                              volumeMode:
                                description: The volume mode to use for the PVC, if
                                  set to Auto, the volume mode will be looked up from
                                  the storage class storage profile. If empty, it
                                  will be set to filesystem.
                                enum:
                                - Filesystem
                                - Block
                                - Auto
                                type: string
                            required:
                            - name
                            type: object
                          name:
                            type: string
                        required:
                        - destinationPVC
                        - name
                        type: object
                      type: array
                    name:
                      type: string
                  required:
                  - migrationPVCs
                  - name
                  type: object
                type: array
              phase:
                description: The current phase of the migration plan.
                type: string
              suffix:
                description: The suffix to automatically append to the PVC name.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
