---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: multinamespacevirtualmachinestoragemigrations.migrations.kubevirt.io
spec:
  group: migrations.kubevirt.io
  names:
    kind: MultiNamespaceVirtualMachineStorageMigration
    listKind: MultiNamespaceVirtualMachineStorageMigrationList
    plural: multinamespacevirtualmachinestoragemigrations
    singular: multinamespacevirtualmachinestoragemigration
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.virtualMachineStorageMigrationPlanRef.name
      name: Plan
      type: string
    - jsonPath: .status.phase
      name: Phase
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VirtualMachineStorageMigration is the Schema for the virtualmachinestoragemigrations
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MigMigrationSpec defines the desired state of MigMigration
            properties:
              multiNamespaceVirtualMachineStorageMigrationPlanRef:
                description: ObjectReference contains enough information to let you
                  inspect or modify the referred object.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            required:
            - multiNamespaceVirtualMachineStorageMigrationPlanRef
            type: object
          status:
            description: MultiNamespaceVirtualMachineStorageMigrationStatus defines
              the observed state of MultiNamespaceVirtualMachineStorageMigration
            properties:
              conditions:
                items:
                  description: |-
                    Condition
                    Type - The condition type.
                    Status - The condition status.
                    Reason - The reason for the condition.
                    Message - The human readable description of the condition.
                    Durable - The condition is not un-staged.
                    Items - A list of `items` associated with the condition used to replace [] in `Message`.
                    staging - A condition has been explicitly set/updated.
                  properties:
                    category:
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - category
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              namespaces:
                description: The status of the migrations in the namespaces.
                items:
                  properties:
                    completedMigrations:
                      items:
                        type: string
                      type: array
                    conditions:
                      items:
                        description: |-
                          Condition
                          Type - The condition type.
                          Status - The condition status.
                          Reason - The reason for the condition.
                          Message - The human readable description of the condition.
                          Durable - The condition is not un-staged.
                          Items - A list of `items` associated with the condition used to replace [] in `Message`.
                          staging - A condition has been explicitly set/updated.
                        properties:
                          category:
                            type: string
                          lastTransitionTime:
                            format: date-time
                            type: string
                          message:
                            type: string
                          reason:
                            type: string
                          status:
                            type: string
                          type:
                            type: string
                        required:
                        - category
                        - lastTransitionTime
                        - status
                        - type
                        type: object
                      type: array
                    errors:
                      items:
                        type: string
                      type: array
                    name:
                      description: The name of the namespace to migrate.
                      type: string
                    phase:
                      description: Phase defines phase in the migration
                      type: string
                    runningMigrations:
                      items:
                        properties:
                          name:
                            type: string
                          progress:
                            type: string
                        required:
                        - name
                        type: object
                      type: array
                  required:
                  - name
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
